version: "2"

services:
  radio_api:
    image: kimbtechnologies/radio_api:latest
    container_name: radio_api
    restart: always
    ports:
      - "80:80" # make sure, Radio-API is available at port 80
    volumes:
      - ./data/:/php-code/data/ # directory storing data, cache, and setting od Radio-API
      - ./media/:/php-code/media/ # directory storing images for stations
    environment:
      - CONF_DOMAIN=http://radio.example.com/ # the domain where the system is hosted
      # - CONF_RADIO_DOMAIN=http://hama.wifiradiofrontier.com # different domain to use for connections of the radio (if set CONF_DOMAIN is for GUI)
      - CONF_ALLOWED_DOMAIN=all # allowed ips for access, list of DynDNS domainnames (divided by ','), or 'all' to allow all ips
      - CONF_SHUFFLE_MUSIC=true # random shuffle music in nextcloud radio stations
      - CONF_CACHE_EXPIRE=1200 # cache expire time of ips, podcasts, ...
      - CONF_USE_JSON_CACHE=false # set to 'true' to disable redis cache and use a simple file-based cache
      - CONF_REDIS_HOST=redis # the redis hostname
      # - CONF_REDIS_PORT=6379 # default 6379
      # - CONF_REDIS_PASS= # default no auth
      - CONF_STREAM_JSON=false # to disable or an url where to fetch list of own streams, e.g., http://stream.example.com/list.json 
      # - CONF_LOG_DIR= # set a custom directory for log files (defaults to ./data/)
      # - CONF_IM_EXPORT_TOKEN= # define a token for use with the im-, export web interface at ./gui/im-export.php
      - CONF_USE_LOGO_CACHE=true # cache logos (make them accessible without ssl and convert svgs to pngs for the radio, stores files in ./media/)
      # - CONF_FAVORITE_ITEMS=Radio,Radio-Browser # define favorite items, which will be listed first on radio
    depends_on:
      - redis
  
  # remove the following part, if 'CONF_USE_JSON_CACHE=true', i.e., redis is not used!
  redis:
    image: redis:alpine
    container_name: radio_api_redis
    restart: always
    #volumes:
    #  - ./redis/:/data # redis is used as cache, so all data can be loaded from json files saved in radio_api
