%%ADD_HTML%%

<div style="float:right;">
	Logged in as %%LOGIN_CODE%%,
	<a href="%%SERVERURL%%gui/?login">Logout</a>
</div>

<h3 id="radio">Radio stations</h3>
	<form action="%%SERVERURL%%gui/?radios#radio" method="post">
		<table>
			<tr>
				<th>ID</th>
				<td></td>
				<td style="width: 500px; max-width:60%; "></td>
			</tr>
			<!--MULTIPLE-RadioStations-BEGIN-->
				<tr>
					<td><b>%%ID%%</b></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Name</td>
					<td><input delid="d%%ID%%" type="text" value="%%NAME%%" name="name[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>URL</td>
					<td><input delid="d%%ID%%" type="text" value="%%URL%%" name="url[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Type</td>
					<td>
						<input type="radio" value="radio" name="type[%%COUNT%%]" %%TYPE_RADIO%% /> Radio
						<input type="radio" value="nc" name="type[%%COUNT%%]" %%TYPE_NC%% /> Nextcloud
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Proxy</td>
					<td>
						<input type="radio" value="yes" name="proxy[%%COUNT%%]" %%PROXY_YES%% /> &check;
						<input type="radio" value="no" name="proxy[%%COUNT%%]" %%PROXY_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Logo</td>
					<td><input delid="d%%ID%%" type="text" value="%%LOGO%%" name="logo[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Description</td>
					<td><input delid="d%%ID%%" type="text" value="%%DESC%%" name="desc[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><button class="del" delid="d%%ID%%" type="button" title="Delete">&cross;</button></td>
				</tr>
			<!--MULTIPLE-RadioStations-END-->
			<tr>
				<td><b>New</b></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Name</td>
				<td><input type="text" placeholder="Name" name="name[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr id="radioBrowserButtons">
				<td></td>
				<td>Insert from</td>
				<td>
					<input type="button" id="openLast" value="Last listened" /> <small>using RadioBrowser</small><br>
					<input type="button" id="openSearch" value="Search" /> <small>in RadioBrowser</small>
				</td>
			</tr>
			<tr id="radioBrowserView">
				<td colspan="2">RadioBrowser</td>
				<td>
					<input type="radio" name="radioBrowserType" value="last" /> Last listened
					<input type="radio" name="radioBrowserType" value="search" /> Search
					</br>
					<div id="searchElements">
						<input type="text" id="searchTerm" placeholder="Name to search for" />
						<input type="button" id="runSearch" value="Search" />
					</div>
					<div id="results">
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>URL</td>
				<td><input type="text" placeholder="URL (MP3, ...)" name="url[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Type</td>
				<td>
					<input type="radio" value="radio" name="type[%%RADIO_COUNT%%]"  checked="checked" /> Radio
					<input type="radio" value="nc" name="type[%%RADIO_COUNT%%]" /> Nextcloud
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Proxy</td>
				<td>
					<input type="radio" value="yes" name="proxy[%%RADIO_COUNT%%]" /> &check;
					<input type="radio" value="no" name="proxy[%%RADIO_COUNT%%]"checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Logo</td>
				<td><input type="text" placeholder="Logo (PNG, ...)" name="logo[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Description</td>
				<td><input type="text" placeholder="Description" name="desc[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Save"></td>
				<td></td>
			</tr>
		</table>
	</form>

	<div class="note">
		The name of a radio station will be shown in the radios menu.
		The url a has to be a link to a streamable audiofile (MP3, M3U, etc.).
		As the radio does not support SSL, thus the links must support <code>http://</code>!
		<br />
		If there is no link without SSL, one can use the proxy to provide a stream without SSL for the radio.
		Attention, the proxy is not able to open M3U streams.
		<br />
		You can also give a nextcloud file share.
		The URL must look like <code>&lt;url&gt;/s/&lt;token&gt;</code> and must not have a password.
		Each file in the shared folder will be played one after one (in a random order, if enabled for this installation).
		There is no support for sub folders.
		If the Nextcloud share is only accessible via SSL, the proxy has to be used.
		<br/>
		While playing a station the radio shows an image, the image can be specified by giving a custom link (also no SSL support).
		If no image is specified <a href="%%SERVERURL%%media/default.png" target="_blank"><code>%%SERVERURL%%media/default.png</code></a> will be displayed.
		<br />
		The description holds more information about a station.
	</div>

<h3 id="podcast">Podcasts</h3>
	<form action="%%SERVERURL%%gui/?podcasts#podcast" method="post">
		<table>
			<tr>
				<th>ID</th>
				<td></td>
				<td style="width: 500px; max-width:60%;"></td>
			</tr>
			<!--MULTIPLE-Podcasts-BEGIN-->
				<tr>
					<td><b>%%ID%%</b></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Name</td>
					<td><input delid="d%%ID%%" type="text" value="%%NAME%%" name="name[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>URL</td>
					<td><input delid="d%%ID%%" type="text" value="%%URL%%" name="url[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Type</td>
					<td>
						<input type="radio" value="rss" name="type[%%COUNT%%]" %%TYPE_RSS%% /> RSS/ Atom
						<input type="radio" value="nc" name="type[%%COUNT%%]" %%TYPE_NC%% /> Nextcloud
					</td>
				</tr>
				<tr>
					<td></td>
					<td>EndURL</td>
					<td>
						<input type="radio" value="yes" name="finalurl[%%COUNT%%]" %%ENDURL_YES%% /> &check;
						<input type="radio" value="no" name="finalurl[%%COUNT%%]" %%ENDURL_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Proxy</td>
					<td>
						<input type="radio" value="yes" name="proxy[%%COUNT%%]" %%PROXY_YES%% /> &check;
						<input type="radio" value="no" name="proxy[%%COUNT%%]" %%PROXY_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td><button class="del" delid="d%%ID%%" type="button" title="Delete">&cross;</button></td>
					<td></td>
				</tr>
			<!--MULTIPLE-Podcasts-END-->
			<tr>
				<td><b>New</b></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Name</td>
				<td><input type="text" placeholder="Name" name="name[%%PODCAST_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>URL</td>
				<td><input type="text" placeholder="URL" name="url[%%PODCAST_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Type</td>
				<td>
					<input type="radio" value="rss" name="type[%%PODCAST_COUNT%%]" checked="checked"  /> RSS/ Atom
					<input type="radio" value="nc" name="type[%%PODCAST_COUNT%%]" /> Nextcloud
				</td>
			</tr>
			<tr>
				<td></td>
				<td>EndURL</td>
				<td>
					<input type="radio" value="yes" name="finalurl[%%PODCAST_COUNT%%]" /> &check;
					<input type="radio" value="no" name="finalurl[%%PODCAST_COUNT%%]" checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Proxy</td>
				<td>
					<input type="radio" value="yes" name="proxy[%%PODCAST_COUNT%%]" /> &check;
					<input type="radio" value="no" name="proxy[%%PODCAST_COUNT%%]" checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Save"></td>
				<td></td>
			</tr>
		</table>
	</form>	

	<div class="note">
		The name of a podcast will be shown in the radios menu.
		As url a RSS atom feed or a Nextcloud file share can be provided.
		The Nextcloud file share must look like <code>&lt;url&gt;/s/&lt;token&gt;</code> and must not have a password.
		Each file in the shared folder will be shown as playable episode.
		There is no support for sub folders.
		<br/>
		If the Nextcloud share or the audiofiles of each episode are only accessible via SSL, the proxy has to be used.
		It will provide a stream without SSL for the radio.
		The proxy will always use EndURL.
		<br />
		Some podcast provider, e.g., podigee or Soundcloud, redirect their episode URLs to SSL, while they also work without SSL.
		The radio won't be able to play these SSL URLs.
		Using EndURL the server will determine the redirected destination and send this destination URL to the radio. 
		<b>
			Don't use the proxy if the media can played without proxy or if EndURL is enough.
			The proxy will put more load on the server and will slow down the connection time to streams.
		</b>
	</div>

	<script>
		$(function (){
			$("button.del").click( function (){
				var id = $(this).attr("delid");
				$("input[delid="+ id +"]").val("");
			});
		});
	</script>

	<h2>Preview</h2>
		<div id="apiviewer">
		</div>
		<div id="audiodiv">
		</div>

		<div class="achtung">
			Attention, the preview is just a preview for the list of stations, podcasts, and streams.
			If some stream or episode does not start playing in the browser, it may do so using the radio nevertheless.
			Also if something works using a browser, it may not work with the radio.
			One possible reason is, that the radio does not support SSL.
		</div>
		<script> var serverurl = "%%SERVERURL%%", radiomac = "%%RADIO_MAC%%", radiocount = %%RADIO_COUNT%%, dlang_val = "eng";</script>
