%%ADD_HTML%%

<div style="float:right;">
	Eingeloggt als %%LOGIN_CODE%%,
	<a href="%%SERVERURL%%gui/?login">Logout</a>
</div>

<h3 id="radio">Radiosender</h3>
	<form action="%%SERVERURL%%gui/?radios#radio" method="post">
		<table>
			<tr>
				<th>ID</th>
				<td></td>
				<td style="width: 500px; max-width:60%; "></td>
			</tr>
			<!--MULTIPLE-RadioStations-BEGIN-->
				<tr>
					<td><b>%%ID%%</b></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Name</td>
					<td><input delid="d%%ID%%" type="text" value="%%NAME%%" name="name[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>URL</td>
					<td><input delid="d%%ID%%" type="text" value="%%URL%%" name="url[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Typ</td>
					<td>
						<input type="radio" value="radio" name="type[%%COUNT%%]" %%TYPE_RADIO%% /> Radio
						<input type="radio" value="nc" name="type[%%COUNT%%]" %%TYPE_NC%% /> Nextcloud
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Proxy</td>
					<td>
						<input type="radio" value="yes" name="proxy[%%COUNT%%]" %%PROXY_YES%% /> &check;
						<input type="radio" value="no" name="proxy[%%COUNT%%]" %%PROXY_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Logo</td>
					<td><input delid="d%%ID%%" type="text" value="%%LOGO%%" name="logo[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Beschreibung</td>
					<td><input delid="d%%ID%%" type="text" value="%%DESC%%" name="desc[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="del" delid="d%%ID%%" type="button" title="Löschen">&cross;</button></td>
					<td></td>
				</tr>
			<!--MULTIPLE-RadioStations-END-->
			<tr>
				<td><b>Neu</b></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Name</td>
				<td><input type="text" placeholder="Name" name="name[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>URL</td>
				<td><input type="text" placeholder="URL (MP3, ...)" name="url[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Typ</td>
				<td>
					<input type="radio" value="radio" name="type[%%RADIO_COUNT%%]"  checked="checked" /> Radio
					<input type="radio" value="nc" name="type[%%RADIO_COUNT%%]" /> Nextcloud
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Proxy</td>
				<td>
					<input type="radio" value="yes" name="proxy[%%RADIO_COUNT%%]" /> &check;
					<input type="radio" value="no" name="proxy[%%RADIO_COUNT%%]"checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Logo</td>
				<td><input type="text" placeholder="Logo (PNG, ...)" name="logo[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Beschreibung</td>
				<td><input type="text" placeholder="Description" name="desc[%%RADIO_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Sichern"></td>
				<td></td>
			</tr>
		</table>
	</form>

	<div class="note">
		Der Name eines Radiosenders wird im Display des Radios angezeigt, als URL wird ein streamfähiger Link benötigt (MP3, M3U, etc.).
		Der Link muss ohne SSL (also <code>http://</code>) erreichbar sein!
		<br />
		Mit dem Proxy können Links, die nur per SSL erreichbar sind, hinzugefügt werden.
		Achtung, der Proxy kann keine M3U Dateien streamen!
		<br />
		Bei Nextcloud Streams werden alle Musikdateien in einem freigegebenen Ordner vom Radio abgespielt.
		Anders als bei Podcasts werden alle Dateien im Ordner nacheinander abgespielt und sind nicht einzeln wählbar.
		(Die Nextcloud Freigabe muss die Form <code>&lt;url&gt;/s/&lt;token&gt;</code> und kein Passwort haben.)
		Sollte die Nextcloud nur per SSL erreichbar sein, muss der Proxy genutzt werden!
		Ist die zufällige Reihenfolge im System (Radio-API Installation) aktiviert, so werden die Dateien im Ordner in einer zufälligen Reihenfolge abgespielt.
		<br/>
		Über Logo kann eine URL zu einem den Sender illustrieredenen Bild angegeben werden.
		Wird kein Bild angegeben, so wird <a href="%%SERVERURL%%media/default.png" target="_blank"><code>%%SERVERURL%%media/default.png</code></a> im Radio angezeigt.
		<br />
		Die Beschreibung ist optional und eine weitere Beschreibung des Senders.
	</div>

<h3 id="podcast">Podcasts</h3>
	<form action="%%SERVERURL%%gui/?podcasts#podcast" method="post">
		<table>
			<tr>
				<th>ID</th>
				<td></td>
				<td style="width: 500px; max-width:60%;"></td>
			</tr>
			<!--MULTIPLE-Podcasts-BEGIN-->
				<tr>
					<td><b>%%ID%%</b></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Name</td>
					<td><input delid="d%%ID%%" type="text" value="%%NAME%%" name="name[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>URL</td>
					<td><input delid="d%%ID%%" type="text" value="%%URL%%" name="url[%%COUNT%%]"/></td>
				</tr>
				<tr>
					<td></td>
					<td>Typ</td>
					<td>
						<input type="radio" value="rss" name="type[%%COUNT%%]" %%TYPE_RSS%% /> RSS/ Atom
						<input type="radio" value="nc" name="type[%%COUNT%%]" %%TYPE_NC%% /> Nextcloud
					</td>
				</tr>
				<tr>
					<td></td>
					<td>EndURL</td>
					<td>
						<input type="radio" value="yes" name="finalurl[%%COUNT%%]" %%ENDURL_YES%% /> &check;
						<input type="radio" value="no" name="finalurl[%%COUNT%%]" %%ENDURL_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Proxy</td>
					<td>
						<input type="radio" value="yes" name="proxy[%%COUNT%%]" %%PROXY_YES%% /> &check;
						<input type="radio" value="no" name="proxy[%%COUNT%%]" %%PROXY_NO%% /> &cross;
					</td>
				</tr>
				<tr>
					<td></td>
					<td><button class="del" delid="d%%ID%%" type="button" title="Löschen">&cross;</button></td>
					<td></td>
				</tr>
			<!--MULTIPLE-Podcasts-END-->
			<tr>
				<td><b>Neu</b></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Name</td>
				<td><input type="text" placeholder="Name" name="name[%%PODCAST_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>URL</td>
				<td><input type="text" placeholder="URL" name="url[%%PODCAST_COUNT%%]"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Typ</td>
				<td>
					<input type="radio" value="rss" name="type[%%PODCAST_COUNT%%]" checked="checked"  /> RSS/ Atom
					<input type="radio" value="nc" name="type[%%PODCAST_COUNT%%]" /> Nextcloud
				</td>
			</tr>
			<tr>
				<td></td>
				<td>EndURL</td>
				<td>
					<input type="radio" value="yes" name="finalurl[%%PODCAST_COUNT%%]" /> &check;
					<input type="radio" value="no" name="finalurl[%%PODCAST_COUNT%%]" checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td>Proxy</td>
				<td>
					<input type="radio" value="yes" name="proxy[%%PODCAST_COUNT%%]" /> &check;
					<input type="radio" value="no" name="proxy[%%PODCAST_COUNT%%]" checked="checked" /> &cross;
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Sichern"></td>
				<td></td>
			</tr>
		</table>
	</form>	

	<div class="note">
		Der Name eines Podcasts wird in im Display des Radios angezeigt, als URL kann entweder ein RSS-Atom-Feed angegeben werden oder der Link zu einer Nextcloud Freigabe.
		Anders als bei Radiosendern werden alle Dateien im Ordner als Episoden angezeigt und sind einzeln abspielbar.
		(Die Nextcloud Freigabe muss die Form <code>&lt;url&gt;/s/&lt;token&gt;</code> und kein Passwort haben.)
		<br/>
		Sollte die Nextcloud oder die Audiodateien der Episoden nur per SSL erreichbar sein, so muss der Proxy aktiviert werden!
		Der Proxy nutzt automatisch EndURL.
		<br />
		Einige Anbieter, z.B. podigee oder Soundcloud, leiten in den Links zu den Episoden auf SSL um, die eigentliche URL zur Audiodatei ist jedoch auch ohne SSL erreichbar.
		Mit EndURL wird der direkte Link zur Audiodatei an das Radio geschickt.
		EndURL ist dem Proxy vorzuziehen, da es den Server weniger belastet und schneller ist.
	</div>

	<script>
		$(function (){
			$("button.del").click( function (){
				var id = $(this).attr("delid");
				$("input[delid="+ id +"]").val("");
			});
		});
	</script>

	<h2>Vorschau</h2>
		<div id="apiviewer">
		</div>
		<div id="audiodiv">
		</div>

		<div class="achtung">
			Achtung, die Vorschau dient in erster Linie dazu die Liste der Radios, Podcast, Episoden und Streams anzuschauen.
			Das Abspielen von einigen Audioformaten klappt in Browsern nicht, dafür aber auf dem Radio.
			Weiterhin kann das Radio kein SSL ein Browser jedoch schon.
		</div>
		<script> var serverurl = "%%SERVERURL%%", radiomac = "%%RADIO_MAC%%";</script>
