%%ADD_HTML%%

<div style="float:right;">
Eingeloggt als %%LOGIN_CODE%%,
<a href="%%SERVERURL%%gui/?login">Logout</a>
</div>

<h3>Radiosender</h3>
	<form action="%%SERVERURL%%gui/?radios" method="post">
		<table>
			%%RADIO_FORM%%
		</table>
		<input type="submit" value="Sichern">
	</form>

	<div class="note">
		Der Name eines Radiosenders wird in der GUI des Radios angezeigt,
		als URL wird ein streamfähiger Link benötigt (MP3 etc.).
		Der Link muss ohne SSL (also <code>http://</code>) erreichbar sein!
		<br />
		Mit dem Proxy können Links, die nur per SSL erreichbar sind, 
		hinzugefügt werden. Achtung, der Proxy kann keine M3U Dateien 
		streamen!
		<br/>
		Über Logo kann eine URL zu einem den Sender illustrieredenen 
		Bild angegeben werden. Wird kein Bild angegeben, so wird
		<a href="%%SERVERURL%%media/default.png" target="_blank">
		<code>%%DOMAIN%%media/default.png</code></a>
		im Radio angezeigt.
		<br />
		Die Beschreibung ist optional und
		eine weitere Beschreibung des Sender.
	</div>

<h3>Podcasts</h3>
	<form action="%%SERVERURL%%gui/?podcasts" method="post">
		<table>
			%%PODCAST_FORM%%
		</table>
		<input type="submit" value="Sichern">
	</form>	

	<div class="note">
		Der Name eines Podcasts wird in der GUI des Radios angezeigt,
		als URL kann entweder ein RSS Atom Feed angegeben werden oder 
		der Link zu einer Nextcloud Freigabe (Die Nextcloud Freigabe muss 
		die Form <code>&lt;url&gt;/s/&lt;token&gt;</code> haben.)<br/>
		Sollte die Nextcloud oder die Audiofiles der 
		der Episoden nur per SSL erreichbar sein, so muss 
		der Proxy aktiviert werden! Der Proxy nutzt automatisch EndURL.
		<br />
		Einige Anbieter wie Soundcloud leiten in den Links zu den 
		Episoden auf SSL um, die eigentliche URL zur Audiodatei ist jedoch 
		auch ohne SSL erreichbar. Mit EndURL wird der direkte Link zur
		Audiodatei an das Radio geschickt.
		EndURL ist dem Proxy vorzuziehen, da es den Server weniger belastet und 
		schneller ist.
	</div>

	<script>
		$(function (){
			$("button.del").click( function (){
				var id = $(this).attr("delid");
				$("input[delid="+ id +"]").val("");
			});
		});
	</script>

	<h2>Vorschau</h2>
		<div id="apiviewer">
		</div>
		<div id="audiodiv">
		</div>

		<div class="achtung">
			Achtung, die Vorschau dient in erster Linie dazu die Liste der Radios, Podcast, Episoden 
			und Streams anzuschauen. Das Abspielen von einigen Audioformaten klappt in 
			Browsern nicht, dafür aber auf dem Radio. Weiterhin kann das Radio kein SSL 
			ein Browser jedoch schon.
		</div>
		<script> var serverurl = "%%SERVERURL%%", radiomac = "%%RADIO_MAC%%";</script>
