%%ADD_HTML%%

<form action="%%SERVERURL%%gui/?login" method="post">
	<table>
		<tr>
			<td>Code</td>
			<td><input type="text" value="Z" name="code" pattern="^Z[0-9A-Za-z]{4}$"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Login"></td>
		</tr>
	</table>
</form>

<div class="note">
	The code used for the login will be shown in the radio (Internet radio &rarr; Stations list and there as <em>GUI-Code</em>)
	The Login will become possible, after the radio has shown the code on its display for the first time.
	The list of radio stations and podcasts is different for each radio.
	The list of streams is defined per installation.
	<br/><br/>
	Radios can be <em>merged</em> so that two radios share the same station list and the same podcasts.
	To merge one radio with another, you need to know both codes. 
	Next, log in here using the code of the radio that is to receive the other radio's station list and podcasts, and enter the code of the other radio—to which the current radio is to be added—under <em>Merge</em>.
	You can undo a merge by logging in here with the code of the radio that does not have its own station list and podcasts and remove the merge.
</div>