<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="none">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Radio API &ndash; %%TITLE%%</title>

		<link rel="stylesheet" type="text/css" href="%%SERVERURL%%gui/style.css">
		<script src="%%SERVERURL%%gui/jquery.min.js?v=2"></script>
		%%MOREHEADER%%
	</head>
	<body>
		<div id="main">
			<h1>Radio API &ndash;  Weboberfläche</h1>
				<h2>%%TITLE%%</h2>

				%%INNERCONTAINER%%
		</div>
		<div id="footer">
			<center>
				<small>
					<a href="https://github.com/KIMB-technologies/Radio-API" target="_blank">Radio API by KIMB-technologies</a>
					&ndash;
					<a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GPLv3</a>
				</small>
			</center>
		</div>
	</body>
</html>