
				<p>
					Diese Seite zeigt eine Vorschau der Liste im Radio,
					es wird das Radio angezeigt, als das man zuletzt in 
					der GUI eingeloggt war.
				</p>

				<div id="apiviewer">
				</div>

				<div id="audiodiv">
				</div>

				<script> var serverurl = "%%SERVERURL%%", radiomac = null;</script>

			<h2>Hinweise</h2>

				<div class="note" style="%%NOTESTYLE%%">
					Sie wurden zur Vorschau umgeleitet.<br>
					Suchen Sie das <a href="%%SERVERURL%%gui/">Interface</a>?<br>
					Oder alternativ die <a href="%%SERVERURL%%?yesStay">API</a>?
				</div>

				<p style="%%NOTESTYLE%%">&nbsp;</p>

				<div class="achtung">
					Achtung, die Vorschau dient in erster Linie dazu die Liste der Radios, Podcast, Episoden 
					und Streams anzuschauen. Das Abspielen von einigen Audioformaten klappt in 
					Browsern nicht, dafür aber auf dem Radio. Weiterhin kann das Radio kein SSL 
					ein Browser jedoch schon.
				</div>
	
