
				<p>
					This page shows a preview of the list shown in the radio.
					It uses the login last used with the web interface in this browser.
				</p>

				<div id="apiviewer">
				</div>

				<div id="audiodiv">
				</div>

				<script> var serverurl = "%%SERVERURL%%",  radiourl = "%%RADIO_DOMAIN%%", radiomac = null, dlang_val = "eng";</script>

			<h2>Notes</h2>

				<div class="note" style="%%NOTESTYLE%%">
					You have been redirected to the preview.<br>
					Looking for the <a href="%%SERVERURL%%gui/">Web Interface</a> instead?<br>
					Or looking for the <a href="%%SERVERURL%%?yesStay">API</a> instead?
				</div>

				<p style="%%NOTESTYLE%%">&nbsp;</p>

				<div class="achtung">
					Attention, the preview is just a preview for the list of stations, podcasts, and streams.
					If some stream or episode does not start playing in the browser, it may do so using the radio nevertheless.
					Also if something works using a browser, it may not work with the radio.
					One possible reason is, that the radio does not support SSL.
				</div>
